<section class="py-20 px-6 md:px-12 bg-(--color-neutral)">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-[250px_1fr] gap-10">

    <!-- SIDEBAR FILTRES -->
    <aside class="bg-(--color-secondary) border border-(--color-primary)/20 rounded-lg p-6
              w-full md:w-auto
              md:sticky md:top-10
              self-start">
      <h3 class="text-xl font-semibold text-(--color-title) mb-6">Filtres</h3>
      <form [formGroup]="formulaire" (ngSubmit)="onSearch()">
         <!-- Barre de Recherche -->
        <div class="mb-6">
          <label class="block text-(--color-title) font-medium mb-2 flex items-center gap-2">
            <i class="fa-solid fa-magnifying-glass text-(--color-primary)"></i>
            Recherche
          </label>
          <input
            type="text"
            formControlName="search"
            placeholder="Rechercher un événement..."
            class="w-full bg-(--color-neutral) text-(--color-text) border border-(--color-primary)/10 rounded-md px-3 py-2 focus:border-(--color-primary) outline-none"
          >
        </div>

        <!-- Barre de tri par Type -->
        <div class="mb-6">
          <label class="block text-(--color-title) font-medium mb-2 flex items-center gap-2">
            <i class="fa-solid fa-ticket text-(--color-primary)"></i>
            Type d’événement
          </label>
          <select formControlName="eventTypeName"
            class="w-full bg-(--color-neutral) text-(--color-text) border border-white/10 rounded-md px-3 py-2 focus:border-(--color-primary) outline-none cursor-pointer"
          > <option [ngValue]="null">Tous les types</option>
            @for(eventType of fieldEventType(); track eventType.idEventType) {
              <option [ngValue]="eventType.eventTypeName"> {{ eventType.eventTypeName }} </option>
          } </select>
        </div>

        <div class="mb-6">
          <label class="block text-(--color-title) font-medium mb-2 flex items-center gap-2">
            <i class="fa-solid fa-person-running text-(--color-primary)"></i>
            Sport
          </label>
          <select formControlName="sportName"
            class="w-full bg-(--color-neutral) text-(--color-text) border border-white/10 rounded-md px-3 py-2 focus:border-(--color-primary) outline-none cursor-pointer"
          > <option [ngValue]="null">Tous les sports</option>
            @for(sport of fieldSport(); track sport.idSport) {
              <option [ngValue]="sport.sportName"> {{ sport.sportName }} </option>
            } </select>
        </div>

        <!-- Date -->
        <div class="mb-8">
          <label class="block text-(--color-title) font-medium mb-2 flex items-center gap-2">
            <i class="fa-solid fa-calendar-days text-(--color-primary)"></i>
            À partir du
          </label>

          <div class="relative">
            <input
              type="date"
              id="dateMinInput"
              formControlName="dateMin"
              class="w-full bg-(--color-neutral) text-(--color-title) border border-white/10 rounded-md px-3 py-2 pr-10 focus:border-(--color-primary) outline-none cursor-pointer custom-date"
            >
            <i
              class="fa-solid fa-calendar-days absolute right-3 top-1/2 -translate-y-1/2 text-(--color-primary) cursor-pointer"
              (click)="openDatePicker()"
            ></i>
          </div>
        </div>

        <app-button type="submit" variant="primary" size="sm_full">Filtrer</app-button>
      </form>
    </aside>

    <!-- LISTE DES ÉVÉNEMENTS -->
    <div class="max-w-4xl mx-auto md:mx-0">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-12 text-(--color-title)">
        Événements à venir
      </h2>
      <div class="flex flex-col gap-10">
        @if (eventMedium().length === 0){
          <span class="text-center text-gray-400 py-10" >Aucun événements ne correspond a votre recherche. </span>
        }
        <!-- Boucle List event -->
        @for (event of eventMedium(); track event.idEvent) {
          <app-card [event]="event"></app-card>
        }
      </div>
    </div>

  </div>
</section>
