<header class="w-full bg-(--color-neutral) text-(--color-title) flex items-center justify-between px-4 md:px-8 py-3 md:py-4 shadow-md border-b border-(--color-primary)">

  <!-- Logo -->
  <div class="flex items-center">
    <img src="assets/images/logo-153.png" class="h-12 w-auto cursor-pointer" alt="Logo" routerLink="/">
  </div>

  <!-- Menu Principal en tant qu'invite (desktop only) -->
  <nav class="hidden md:flex items-center gap-10 font-(--font-inter) text-lg">
    <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/">Accueil</a>
    <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/events">Événements</a>
  </nav>
  <!-- Bouton de login (desktop only) -->
  <div class="hidden md:flex items-center gap-6 font-(--font-inter)">
    @if (!authService.jwtInfo()){
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/register">Inscription</a>
      <app-button variant="primary" size="sm" routerLink="/login" (click)="logOut()">
        <i class="fa-solid fa-right-to-bracket"></i> Connexion
      </app-button>
    }
    @if (authService.jwtInfo()?.role === "USER") {
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/" (click)="logOut()">Déconnexion</a>
      <app-button variant="primary" size="sm" routerLink="" >
        <i class="fa-solid fa-user"></i> Voir Profil
      </app-button>
    }

  </div>

  <!-- Menu burger (mobile only) -->
  <button
    class="text-(--color-primary) text-2xl md:hidden"
    (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>

</header>

<!-- MENU MOBILE -->
@if (menuOpen()) {
  <nav class="md:hidden bg-(--color-neutral) flex flex-col gap-4 px-6 py-4 font-(--font-inter) shadow-lg border-b border-(--color-primary)">
    <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/">Accueil</a>
    <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/events">Événements</a>
    @if (!authService.jwtInfo()){
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/login" (click)="logOut()" >Connexion</a>
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/register">Inscription</a>
    }
    @if (authService.jwtInfo()?.role === "USER"){
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/"  >Voir Profil</a>
      <a class="hover:text-(--color-primary) transition cursor-pointer" routerLink="/" (click)="logOut()">Déconnexion</a>
    }
  </nav>
}

<div class="bg-(--color-secondary)">
  <router-outlet/>
</div>

<footer class="w-full bg-(--color-neutral) text-(--color-text) py-6 text-center">
  <p class="text-sm">© 2026 SportHive — Tous droits réservés</p>
</footer>
