<div class="min-h-screen bg-(--color-background) text-white">

  <!-- HEADER / HERO -->
  <div class="relative h-56">
    <img src="assets/images/stade.jpg" class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black/50"></div>

<!--    <div class="absolute bottom-6 left-6">-->
    <app-tag variant="card">
      @if (currentStep() < 4) {
        <h1 class="px-2 text-3xl font-bold">Réservation des sièges</h1>
        <p class="px-2 opacity-80">Choisissez votre emplacement</p>
      } @else {
        <h1 class="px-2 text-3xl font-bold">Confirmation de réservation</h1>
        <p class="px-2 opacity-80">Vérifiez les informations avant de valider</p>
      }
    </app-tag>
  </div>


  <!-- MAIN WRAPPER -->
  @if (canReserve()?.isPast) {
    <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">
      <p class="text-gray-400 text-center py-10">
        Cet événement est déjà passé.
      </p>
      <app-button variant="secondary" size="md_full" routerLink="/events"> Retour aux événements
      </app-button>
    </div>
  } @else if (canReserve()?.alreadyReserved) {
    <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">
      <p class="text-gray-400 text-center py-10">
        Vous avez déjà une réservation pour cet événement.
      </p>
      <app-button variant="secondary" size="md_full" routerLink="/events"> Retour aux événements
      </app-button>
    </div>
  } @else if (canReserve()?.isFull) {
    <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">
      <p class="text-gray-400 text-center py-10">
        Cet événement est complet.
      </p>
      <app-button variant="secondary" size="md_full" routerLink="/events"> Retour aux événements
      </app-button>
    </div>
  } @else {
  <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">
    @if (currentStep() >= 0 && currentStep() < 4) {
    <!-- ÉTAPE 0 : NOMBRE DE SIÈGES -->
    <section id="step-0" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">0. Nombre de sièges</h2>

      <div class="grid grid-cols-2 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedSeatCount()=== 1"
                    (click)="selectSeatCount(1); nextStep(1); resetFromStep(1)">
          1 siège
        </app-button>
        <app-button variant="toggle"  size="md_larger_full"
                    [active]="selectedSeatCount()=== 2"
                    (click)="selectSeatCount(2); nextStep(1); resetFromStep(1)" >
          2 sièges
        </app-button>
      </div>

    </section>
    }

    @if (currentStep() >= 1 && currentStep() < 4) {
    <!-- ÉTAPE 1 : TRIBUNE -->
    <section id="step-1" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">1. Choix de la tribune</h2>

      <div class="grid grid-cols-2 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedPlatform()=== 'Nord'"
                    (click)="selectPlatform('Nord'); nextStep(2); resetFromStep(2)">
          Nord
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedPlatform()=== 'Est'"
                    (click)="selectPlatform('Est'); nextStep(2); resetFromStep(2)">
          Est
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedPlatform()=== 'Sud'"
                    (click)="selectPlatform('Sud'); nextStep(2); resetFromStep(2)">
          Sud
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedPlatform()=== 'Ouest'"
                    (click)="selectPlatform('Ouest'); nextStep(2); resetFromStep(2)">
          Ouest
        </app-button>
      </div>

    </section>
    }
    @if (currentStep() >= 2 && currentStep() < 4) {
    <!-- ÉTAPE 2 : NIVEAU -->
    <section id="step-2" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">2. Choix du niveau</h2>

      <div class="grid grid-cols-3 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Haut'"
                    (click)="selectLevel('Haut'); nextStep(3); resetFromStep(3); loadSeats()">
          Haut
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Milieu'"
                    (click)="selectLevel('Milieu'); nextStep(3); resetFromStep(3); loadSeats()">
          Milieu
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Bas'"
                    (click)="selectLevel('Bas'); nextStep(3); resetFromStep(3); loadSeats()">
          Bas
        </app-button>
      </div>
    </section>
    }
    @if (currentStep() >= 3 && currentStep() < 4) {
    <!-- ÉTAPE 3 : SIÈGES -->
    <section id="step-3"  class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">3. Choix du siège</h2>

      <!-- GRID DES SIÈGES -->
      <div class="grid grid-cols-5 gap-x-3 gap-y-3.5 mx-auto w-fit">
        @for (seat of availableSeats(); track seat.idSeat) {
        <app-seat [id]="seat.idSeat"
                  [status]="seat.reservedByFriend ? 'friend' : (seat.status ? 'reserved' : 'free')"
                  [selected]="selectedSeats().includes(seat.idSeat)"
                  (seatClick)="selectSeat($event)"></app-seat>
        }
      </div>

      <!-- LÉGENDE -->
      <div class="space-y-2 text-white/80 text-sm mt-6">
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-500 rounded"></div>
          <span>Siège libre</span>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-700 rounded"></div>
          <span>Siège réservé</span>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-300 rounded"></div>
          <span>Siège réservé par un ami</span>
        </div>
        <div class="flex items-center gap-2 ">
          <div class="w-4 h-4 bg-(--color-primary) rounded"></div>
          <span>Siège sélectionné</span>
        </div>

      </div>
      <div class="mt-6 grid grid-cols-2 gap-3">
        <app-button variant="secondary" size="md_full"
                    (click)="nextStep(0); resetFromStep(0)">
          Annuler les séléctions</app-button>
      <app-button variant="primary" size="md_full"
                  [disabled]="!canContinueStep3()"
                  (click)="nextStep(4)">
        Valider votre réservation
      </app-button>
        </div>
    </section>
    }
    @if (currentStep() === 4) {
      <!-- MAIN CONTENT -->
      <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">

        <!-- EVENT SUMMARY -->
        <section id="step-4" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
          <h2 class="text-2xl font-semibold mb-4">Événement</h2>

          <div class="space-y-2 text-white/80">
            <p><span class="font-semibold text-white">Nom : </span>{{ eventLight()?.eventName }}</p>
            <p><span class="font-semibold text-white">Sport : </span>{{ eventLight()?.sportName}}</p>
            <p><span class="font-semibold text-white">Date : </span>{{ eventLight()?.eventDate | date: 'dd MMMM yyyy à HH:mm' }}</p>
          </div>
        </section>

        <!-- SEAT SUMMARY -->
        <section class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
          <h2 class="text-2xl font-semibold mb-4">Votre sélection</h2>

          <div class="space-y-2 text-white/80">
            <p><span class="font-semibold text-white">Tribune : </span> {{selectedPlatform()}}</p>
            <p><span class="font-semibold text-white">Niveau :</span> {{selectedLevel()}}</p>
            <p><span class="font-semibold text-white">Siège :</span>
              @for (seat of selectedSeats(); track $index){
                {{getSeatName(seat)}} }</p>
          </div>
        </section>

        <!-- CTA -->
        <section class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
          <h2 class="text-xl font-semibold mb-4">Validation</h2>

          <p class="text-white/80 mb-6">
            En validant, votre réservation sera enregistrée et visible dans votre espace personnel.
          </p>

          <div class="flex flex-col gap-4">
            <app-button variant="primary" size="md_full">
              Valider la réservation
            </app-button>

            <app-button variant="secondary" size="md_full" (click)="resetFromStep(0);nextStep(0)">
              ← Retour à la sélection des sièges
            </app-button>
          </div>
        </section>
      </div>
    }
  </div>
  }
</div>
