<div class="min-h-screen bg-(--color-background) text-white">

  <!-- HEADER / HERO -->
  <div class="relative h-56">
    <img src="assets/images/stade.jpg" class="w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black/50"></div>

    <div class="absolute bottom-6 left-6">
      <h1 class="text-3xl font-bold">Réservation des sièges</h1>
      <p class="opacity-80">Choisissez votre emplacement</p>
    </div>
  </div>

  <!-- MAIN WRAPPER -->
  <div class="max-w-3xl mx-auto px-6 py-10 space-y-10">
    @if (currentStep() >= 0) {
    <!-- ÉTAPE 0 : NOMBRE DE SIÈGES -->
    <section id="step-nb" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">0. Nombre de sièges</h2>

      <div class="grid grid-cols-2 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedSeatCount()=== 1"
                    (click)="selectSeatCount(1); nextStep(1)">
          1 siège
        </app-button>
        <app-button variant="toggle"  size="md_larger_full"
                    [active]="selectedSeatCount()=== 2"
                    (click)="selectSeatCount(2); nextStep(1)" >
          2 sièges
        </app-button>
      </div>

<!--      <app-button variant="primary" size="md_full" margin="mt6"-->
<!--                  [disabled]="!canContinueStep0()"-->
<!--                  (click)="nextStep()">-->
<!--        Continuer-->
<!--      </app-button>-->
    </section>
    }

    @if (currentStep() >= 1) {
    <!-- ÉTAPE 1 : TRIBUNE -->
    <section id="step-tribune" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">1. Choix de la tribune</h2>

      <div class="grid grid-cols-2 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedTribune()=== 'Nord'"
                    (click)="selectTribune('Nord'); nextStep(2)">
          Nord
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedTribune()=== 'Est'"
                    (click)="selectTribune('Est'); nextStep(2)">
          Est
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedTribune()=== 'Sud'"
                    (click)="selectTribune('Sud'); nextStep(2)">
          Sud
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedTribune()=== 'Ouest'"
                    (click)="selectTribune('Ouest'); nextStep(2)">
          Ouest
        </app-button>
      </div>

<!--      <app-button variant="primary" size="md_full" margin="mt6"-->
<!--                  [disabled]="!canContinueStep1()"-->
<!--                  (click)="nextStep()" >-->
<!--        Continuer-->
<!--      </app-button>-->
    </section>
    }
    @if (currentStep() >= 2) {
    <!-- ÉTAPE 2 : NIVEAU -->
    <section id="step-niveau" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">2. Choix du niveau</h2>

      <div class="grid grid-cols-3 gap-4">
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Haut'"
                    (click)="selectLevel('Haut'); nextStep(3)">
          Haut
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Milieu'"
                    (click)="selectLevel('Milieu'); nextStep(3)">
          Milieu
        </app-button>
        <app-button variant="toggle" size="md_larger_full"
                    [active]="selectedLevel()=== 'Bas'"
                    (click)="selectLevel('Bas'); nextStep(3)">
          Bas
        </app-button>
      </div>

<!--      <app-button variant="primary" size="md_full" margin="mt6"-->
<!--                  [disabled]="!canContinueStep2()"-->
<!--                  (click)="nextStep()">-->
<!--        Continuer-->
<!--      </app-button>-->
    </section>
    }
    @if (currentStep() >= 3) {
    <!-- ÉTAPE 3 : SIÈGES -->
    <section id="step-siege" class="bg-(--color-card) p-6 rounded-xl border border-white/10 shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">3. Choix du siège</h2>

      <!-- GRID DES SIÈGES -->
      <div class="grid grid-cols-5 gap-x-3 gap-y-3.5 mx-auto w-fit">

        <!-- Ligne 1 -->
        <app-seat [id]= 1 status="free" [selected]="selectedSeats().includes(1)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 2 status="free" [selected]="selectedSeats().includes(2)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 3 status="free" [selected]="selectedSeats().includes(3)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 4 status="free" [selected]="selectedSeats().includes(4)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 5 status="free" [selected]="selectedSeats().includes(5)" (seatClick)="selectSeat($event)"></app-seat>

        <!-- Ligne 2 -->
        <app-seat [id]= 6 status="free" [selected]="selectedSeats().includes(6)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 7 status="free" [selected]="selectedSeats().includes(7)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 8 status="free" [selected]="selectedSeats().includes(8)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 9 status="free" [selected]="selectedSeats().includes(9)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 10 status="free" [selected]="selectedSeats().includes(10)" (seatClick)="selectSeat($event)"></app-seat>

        <!-- Ligne 3 -->
        <app-seat [id]= 11 status="free" [selected]="selectedSeats().includes(11)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 12 status="free" [selected]="selectedSeats().includes(12)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 13 status="free" [selected]="selectedSeats().includes(13)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 14 status="free" [selected]="selectedSeats().includes(14)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 15 status="free" [selected]="selectedSeats().includes(15)" (seatClick)="selectSeat($event)"></app-seat>


        <!-- Ligne 4 -->
        <app-seat [id]= 16 status="free" [selected]="selectedSeats().includes(16)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 17 status="free" [selected]="selectedSeats().includes(17)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 18 status="free" [selected]="selectedSeats().includes(18)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 19 status="free" [selected]="selectedSeats().includes(19)" (seatClick)="selectSeat($event)"></app-seat>
        <app-seat [id]= 20 status="free" [selected]="selectedSeats().includes(20)" (seatClick)="selectSeat($event)"></app-seat>


      </div>

      <!-- LÉGENDE -->
      <div class="space-y-2 text-white/80 text-sm mt-6">
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-500 rounded"></div>
          <span>Siège libre</span>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-700 rounded"></div>
          <span>Siège réservé</span>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-4 h-4 bg-gray-300 rounded"></div>
          <span>Siège réservé par un ami</span>
        </div>
        <div class="flex items-center gap-2 ">
          <div class="w-4 h-4 bg-(--color-primary) rounded"></div>
          <span>Siège sélectionné</span>
        </div>

      </div>

      <app-button variant="primary" size="md_full" margin="mt6"
                  [disabled]="!canContinueStep3()">
        Valider votre réservation
      </app-button>
    </section>
    }
  </div>
</div>
