<div id="onglet-profil-public" class="space-y-6 md:space-y-8 bg-(--color-tertiary)/20 p-6 rounded-lg">

  <!-- Pseudo -->
  <div class="bg-(--color-neutral)/60 backdrop-blur-md border border-(--color-primary)/20 rounded-xl p-5 md:p-6 shadow-lg">
    <h2 class="text-xl md:text-2xl font-semibold text-(--color-title) mb-4">
      Profil public
    </h2>

    <p class="text-(--color-label)">Pseudo</p>
    @if (!isEditing()) {
      <p class="mb-4 text-(--color-title) font-semibold text-xl">{{ newPseudo() }}</p>

      @if (toastVisible()) {
        <span class="px-3 py-2 bg-(--color-primary) text-black hover:opacity-90 transition cursor-pointer font-semibold rounded-md hover:opacity-90 transition">
          Pseudo mis à jour ✔
        </span>
      } @else {
        <app-button variant="primary" size="sm" (click)="startEditPseudo()">
          Modifier le pseudo
        </app-button>
      }
    }
    @if (isEditing()){
      <p class="mb-4 text-(--color-title) font-semibold text-xl">{{ newPseudo() }}</p>
      <form [formGroup]="formulaire" (ngSubmit)="validatePseudo()">
        <label class="mr-2 text-(--color-title) font font-semibold mb-1">Nouveau Pseudo :</label>
        <input formControlName="formPseudo"
          type="text"
          class="mr-3 px-3 py-2 rounded-md bg-white/10 border border-white/20 text-(--color-title) focus:outline-none focus:ring-2 focus:ring-(--color-primary)"
        >
        <app-button type="submit" variant="primary" size="sm" (click)="stopEditPseudo()" >
          Valider
        </app-button>
      </form>

    }

  </div>

  <!-- Derniers événements -->
  <div class="bg-(--color-neutral)/60 backdrop-blur-md border border-(--color-primary)/20 rounded-xl p-5 md:p-6 shadow-lg">
    <h3 class="text-lg md:text-xl font-semibold text-(--color-title) mb-4">Derniers événements</h3>
    <ul class="space-y-3">
    @for (event of userPublicProfil()?.lastEvents; track $index) {
      <li class="border-b border-white/10 pb-2">{{ event.eventName }} ({{ event.eventDate | date:'dd/MM/yyyy'  }}), Sport : {{ event.sportName }}</li>
    }
    </ul>
  </div>

  <!-- Derniers votes -->
  <div class="bg-(--color-neutral)/60 backdrop-blur-md border border-(--color-primary)/20 rounded-xl p-5 md:p-6 shadow-lg">
    <h3 class="text-lg md:text-xl font-semibold text-(--color-title) mb-4">Derniers votes</h3>
    <ul class="space-y-3">
    @for (vote of userPublicProfil()?.lastVotes; track $index) {
        <li class="border-b border-white/10 pb-2">
            <p>Événement : {{ vote.eventName }}</p>
            <p>Note : {{ vote.eventRating }}/5 </p>
            <p>Meilleur Sportif : {{ vote.athleteName }} {{ vote.athleteFirstName }}</p>
        </li>
    }
    </ul>
  </div>
</div>
